<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 2</title>
    <link rel="stylesheet" href="gameStyle.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="title">
                ROCK PAPER SCRISORS
            </div>
            <br>
            <div id="score">
                Score: 0
            </div>
        </div>
        <div class="main-game">
            <div class="game-item">
                <div class="player-name">
                    Player 1
                </div>
                <img class="user-choose" data-item="batu" src="assets/img/batu.png" width="80px">
                <img class="user-choose" data-item="kertas" src="assets/img/kertas.png" width="80px">
                <img class="user-choose" data-item="gunting" src="assets/img/gunting.png" width="80px">
            </div>
            <div class="game-item">
                <div>
                    <img id="img-vs" src="assets/img/vs.png" width="200px">
                </div>
                <div id="final-result"></div>
                <div class="img-refresh">
                    <img src="assets/img/refresh.png" width="50px">
                </div>
            </div>
            <div class="game-item">
                <div class="player-name">Com</div>
                <img class="user-choose" src="assets/img/batu.png" id="comp-batu" width="80px">
                <img class="user-choose" src="assets/img/kertas.png" id="comp-kertas" width="80px">
                <img class="user-choose" src="assets/img/gunting.png" id="comp-gunting" width="80px">
            </div>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>