<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Lukman</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Start Hero Section -->
    <div class="container-fluid main" id="home">
        <header class="fixed-top" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            <div class="container-nav">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand logo" href="#">Gemology</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse p-2 menu" id="navbarTogglerDemo02">
                        <ul class="navbar-nav m-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#games">Games</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#features">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#requirements">Requirements</a>
                            </li>

                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <ul class="navbar-nav mt-2 mt-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container-fluid hero">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-10 col-xl-12">
                    <div class="container hero text-center text-white">
                        <h1 data-aos="fade-up" data-aos-duration="1500" class="display-2">PLAY TRADISIONAL</h1>
                        <p data-aos="fade-up" data-aos-duration="2000">Experience new tradisional game play</p>
                        <a style="display: inline-block; cursor: pointer;" href="login" data-aos="fade-up"
                            data-aos-duration="2500" class="button-play">PLAY NOW</a>
                    </div>
                    <br>
                    <div class="text-center story" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2500">
                        <p class="story-text">THE STORY</p>
                        <img class="m-auto" src="assets/arrow-down-sign-to-navigate.png" height="30" width="30" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <!-- Slider Games Section -->
    <div class="container-fluid slider-section" id="games">
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="2000">
                <div class="col-md-6 col-lg-4 text-the-games">
                    <div class="container">
                        <p>What so Special?</p>
                        <h1>THE GAMES</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="assets/rockpaperstrategy-1600.jpg" height="300px"
                                    width="500px" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="assets/main-bg.jpg" height="300px" width="500px"
                                    alt="Second slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Games Section -->

    <!-- Start Feature Section -->
    <div class="container-fluid feature-section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 col-md-12 feature-section-text">
                    <p data-aos="fade-up" data-aos-duration="1000">What So Special?</p>
                    <h2 data-aos="fade-up" data-aos-duration="1000">Features</h2>
                    <div class="container p-0 m-0">
                        <!-- timeline item 1 -->
                        <div class="row" data-aos="fade-up" data-aos-duration="1500">
                            <!-- timeline item 1 left dot -->
                            <div class="col-auto text-center flex-column d-none d-sm-flex">
                                <div class="row h-50">
                                    <div class="col">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <h5 class="m-2">
                                    <span class="badge badge-pill bg-light border">&nbsp;</span>
                                </h5>
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <!-- timeline item 1 event content -->
                            <div class="col p-0">
                                <div class="card">
                                    <div class="card-body p-0 mt-5">
                                        <div class="feature-section-list">
                                            <h2>TRADISIONAL GAMES</h2>
                                            <p>if you miss your childhood, we provide so many traditional games here</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 2 -->
                        <div class="row" data-aos="fade-up" data-aos-duration="2000">
                            <div class="col-auto text-center flex-column d-none d-sm-flex">
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <h5 class="m-2">
                                    <span class="badge badge-pill bg-light border">&nbsp;</span>
                                </h5>
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="card">
                                    <div class="card-body px-0 mt-4">
                                        <div class="feature-section-list">
                                            <h2>GAME SUIT</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <!-- timeline item 3 -->
                        <div class="row" data-aos="fade-up" data-aos-duration="2500">
                            <div class="col-auto text-center flex-column d-none d-sm-flex">
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                                <h5 class="m-2">
                                    <span class="badge badge-pill bg-light border">&nbsp;</span>
                                </h5>
                                <div class="row h-50">
                                    <div class="col border-right">&nbsp;</div>
                                    <div class="col">&nbsp;</div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="card">
                                    <div class="card-body px-0 mt-4">
                                        <div class="feature-section-list">
                                            <h2>TBD</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--container-->
                </div>
            </div>
        </div>
    </div>
    <!-- End Feature Section -->

    <!-- Start Requirements Section -->
    <div class="container-fluid requirement" id="requirements">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5 align-self-center requirement-text" data-aos="fade-right"
                    data-aos-duration="1500">
                    <p>Can my computer run this game?</p>
                    <h2>SYSTEM REQUIREMENT</h2>
                </div>

                <div class="col-lg-7" data-aos="fade-left" data-aos-duration="1500">
                    <table border="1" class="requirement-table">
                        <tr>
                            <td>
                                <h5>OS:</h5>
                                <p>Windows 7 64-bit only<br>(No OSX support at this time)</p>
                            </td>
                            <td>
                                <h5>PROCESSOR:</h5>
                                <p>Intel Core 2 Duo @ 2.4 GHZ or<br>AMD Athlon X2 @ 2.8 GHZ</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>MEMORY:</h5>
                                <p>4 GB RAM</p>
                            </td>
                            <td>
                                <h5>STORAGE:</h5>
                                <p>8 GB available space</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h5>GRAPHICS:</h5>
                                <p>NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Requirements Section -->

    <!-- Start Top Scores Section -->
    <div class="container-fluid top-scores">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-12 col-lg-4 align-self-center">
                    <div class="container text-sm-center" data-aos="fade-right" data-aos-duration="1500">
                        <h1 class="display-4 text-white">TOP SCORES</h1>
                        <button class="btn btn-warning">see more</button>
                    </div>
                </div>
                <div class="col-lg-6 justify-content-md-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 offset-lg-6">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="card-top-scores" data-aos="fade-left" data-aos-duration="1500">
                                        <div class="testi-header">
                                            <div class="avatar">
                                                <img class="img rounded-circle" src="assets/person1.jpg" width="50px"
                                                    height="50px">
                                            </div>
                                            <div class="testimoni-info">
                                                <h6 class="person-name">Evan Lathi</h6>
                                                <h6 class="person-job">PC Gamer</h6>
                                            </div>
                                            <div>
                                                <img src="assets/twitter.svg" alt="">
                                            </div>
                                        </div>
                                        <h6 class="text-white">"One of my gaming highlights of the year"
                                        </h6>
                                        <h6 class="person-job">October 18, 2018</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 offset-lg-2">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="card-top-scores" data-aos="fade-left" data-aos-duration="2000">
                                        <div class="testi-header">
                                            <div class="avatar">
                                                <img class="img rounded-circle" src="assets/person2.jpg" width="50px"
                                                    height="50px">
                                            </div>
                                            <div class="testimoni-info">
                                                <h6 class="person-name">Jada Griffin</h6>
                                                <h6 class="person-job">Nerdreactor</h6>
                                            </div>
                                            <div class="contact-section">
                                                <img src="assets/twitter.svg" alt="">
                                            </div>
                                        </div>
                                        <h6 class="text-white">"The next big thing in the world of streaming and
                                            survival games."
                                        </h6>
                                        <h6 class="person-job">December 21, 2018</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 offset-lg-4">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="card-top-scores" data-aos="fade-left" data-aos-duration="2200">
                                        <div class="testi-header">
                                            <div class="avatar">
                                                <img class="img rounded-circle" src="assets/person3.jpg" width="50px"
                                                    height="50px">
                                            </div>
                                            <div class="testimoni-info">
                                                <h6 class="person-name">Aaroon Williams</h6>
                                                <h6 class="person-job">Uproxx</h6>
                                            </div>
                                            <div>
                                                <img src="assets/twitter.svg" alt="">
                                            </div>
                                        </div>
                                        <h6 class="text-white">"Snoop Dogg Playing The Wildy Entertaining SOS is
                                            Ridiculous."
                                        </h6>
                                        <h6 class="person-job">December 24, 2018</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Scores -->

    <!-- Start Newsletter -->
    <div class="container-fluid footer-container d-flex">
        <div class="row">
            <div class="container d-flex h-100">
                <div class="row align-self-center">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <h6 class="text-white" data-aos="fade-down" data-aos-duration="1500">Want to stay in touch?</h6>
                        <h1 class="text-white display-1" style="font-weight: 400;" data-aos="fade-down"
                            data-aos-duration="2000">NEWSLETTER SUBSCRIBE</h1>
                        <h6 class="text-white" style="font-weight: 300;" data-aos="fade-down" data-aos-duration="2200">
                            In order to start receiving our news all you
                            have to do is enter your
                            email address.
                            Everything else will no taken care of by us. We sill send you emails containing information
                            about game. We don't spam.</h6>
                        <div class="subscribe" data-aos="fade-down" data-aos-duration="2200">
                            <h6>Your email address</h6>
                            <div class="form-email d-flex flex-row">
                                <input class="input-subs" type="text" placeholder="youremail@binar.co.id" />
                                <button class="btn btn-warning btnSubs">Subscribe Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Newsletter -->

    <div class="container-fluid footer-container2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <a class="logo" href="#home">Gemology</a>
                </div>
                <div class="col-lg-6 text-right">
                    <img style="margin-right: 15px;" src="assets/twitch.svg" alt="">
                    <img src="assets/twitter.svg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr style="border-top: 1px solid white;">
                    <p class="text-white">© Binar 2021, Inc. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>