<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<style>
    html,
    body {
        height: 100%;
        background-color: #E9F3FC;
    }

    .bungkus {
        background-color: white;
        border-radius: 20px;
        box-shadow: 3px 5px #888888;
        padding: 50px;
        width: 25rem;
    }

    input {
        padding: 5px 10px;
        margin-bottom: 5px;
        border-radius: 10px;
        border: 1px solid grey;
    }
</style>

<body>
    <div class="h-100 row align-items-center m-0 p-0">
        <div class="col text-center">
            <div class="container bungkus" data-aos="zoom-in-down" data-aos-duration="1500">
                <div class="container">
                    <h4 class="text-center mb-4">Welcome Back!</h4>
                </div>
                <form method="POST" action="/login">
                    <div class="mb-2">
                        <input type="text" class="w-100" placeholder="username" name="username">
                    </div>
                    <div class="mb-2">
                        <input type="password" class="w-100" placeholder="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
                </form>
                <div class="row">
                    <div class="col">
                        <a href="/register">
                            Create an account?
                        </a>
                    </div>
                    <div class="col">
                        <a href="forgotpassword.html">
                            Forgot password?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>