.container{
    height: 600px;
    width: 600px;
    background-color: antiquewhite;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px;
}

.header title{
    font-weight: bold;
    color: burlywood;
    display: flex;
}

#score {
    font-size: 18px;
    font-weight: bold;
}

.player-name{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.main-game{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-item{
    display: flex;
    flex-direction: column;
    margin: 10px 50px 0 50px;
    justify-content: center;
    align-items: center;
}

.game-item img {
    cursor: pointer;
}

.game-item img, .game-item .player-name{
    margin-bottom: 30px;
}

.game-item img.active{
    background-color: chocolate;
    padding: 5px;
    border-radius: 15px;
}

#final-result {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}