html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.main{
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.3) 10%,rgba(0,0,0,.3) 90%,#000),url('assets/main-bg.jpg') 50% no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0;
}

.container-nav{
    padding: 0 50px;
}

header{
    width: 100%;
    background: rgba(25,28,31,.3);

}

.logo{
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: #FFB727 !important;
    font-weight: bold;
    opacity: 1;
}

.logo:hover{
    color: #FFB727;
}

.navbar-toggler{
    background-color: white;
}

.container-nav .bg-light{
    background: transparent !important;
}


.container-nav .bg-light .menu a, login {
    color: white !important;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    transition: .15s;
    border: 4px solid transparent;
}

.nav-link:hover{
    border-bottom: 4px solid #FFB727;
}

.login {
    text-align: right;
    padding-top: 3px;
}

.hero{
    padding-top: 16vh;
}

.hero h1{
    font-weight: 400;
    font-size: 4rem;
}

.story {
    margin-top: 15vh;
}

.button-play{
    background-color: #FFB727;
    padding: 5px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
}

.button-play:hover{
    background-color: #5C636A;
    color: white;
    transition: .3s;
}

.story-text{
    color: white;
    font-size: 1rem;
}

.slider-section{
    background: linear-gradient(180deg,#000 0,rgba(0,0,0,.3) 10%,rgba(0,0,0,.3) 90%,#000),url('assets/the-games-bg.jpg');
    height: 150vh;
    position: relative;
    padding: 0;
    background-size: cover;
    color: white;
    padding-top: 200px;
}

.carousel img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.slider-section p{

}

.text-the-games{
    padding-top: 150px;
}


.feature-section{
    background: linear-gradient(180deg,#000 0,rgba(0,0,0,.3) 10%,rgba(0,0,0,.3) 90%,#000),url('assets/features.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.feature-section-text{
    margin-top: 100px;
    color: white;
}

.feature-section-text h2{
    color: white;
    font-size: 2.25rem;
}

.feature-section-list h2{
    color: #FFB727;
    font-size: 1rem;
    font-weight: bold;
}

.feature-section-list p{
    color: white;
    font-size: .75rem;
    font-weight: bold;
}

.card{
    background: none;
}

.requirement{
    background: linear-gradient(180deg,#000 0,rgba(0,0,0,.3) 20%,rgba(0,0,0,.3) 80%,#000),url('/assets/requirements.png');
    background-size: cover;
    height: 150vh;
    padding-top: 300px;
}

.requirement-text{
    color: white;

}

.requirement-table{
    border: white;
    width: 100%;
}

.requirement-table tr td{
    padding: 10px 100px 10px 10px;
}

.requirement-table h5 {
    color: #FFB727;
}

.requirement-table p {
    color: white;
}

.top-scores{
    background: linear-gradient(180deg,#000 0,rgba(0,0,0,.3) 10%,rgba(0,0,0,.3) 90%,#000),url('assets/the-games-bg.jpg');
    height: 120vh;
    position: relative;
    padding: 0;
    background-size: cover;
}

.card-top-scores{
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    background-color: #1b1d1d;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 400px;
    display: flex;
}

.avatar{
    margin-right: 20px;
}

.testi-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.person-name{
    color: #FFB727;
}

.person-job{
    color: #8c8d8d;
}

.footer-container{
    background: linear-gradient(180deg,#000 0,rgba(0,0,0,.3) 10%,rgba(0,0,0,.3) 90%,#000),url('assets/newsletter.png');
    background-size: cover;
    padding: 0;
    height: 120vh;
}

.subscribe{
    margin-top: 30px;
}

.input-subs{
    background-color: #1c1e1f;
    border-color: #1c1e1f;
    padding: 10px;
}

.input-subs:focus{
    background-color: white;
    border-color: #1c1e1f;

}

.subscribe h6{
    color: #fab23f;
}

.btnSubs{
    margin-left: 10px;
    font-weight: 500;
    background-color: #fab23f;
}


.footer-container2{
    background-color: #000;
}

.hr-white{
    color: white;
}